.header-top {
  color: white;
  height: 35px;
  background: #318A00;
  gap: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top-icon {
  color: white;
}
.header-top-text {
  color: white;
}
.header-top-left {
  margin-left: 20px;
  display: flex;
  gap: 10px;
}
.header-top-right {
  margin-right: 20px;
  display: flex;
  gap: 20px;
}
.header-bottom {
  padding: 5px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.header-bottom-left {
  width: 100px;
}
.header-bottom-left {
  margin-left: 10px;
}
.header-bottom-right {
  margin-right: 10px;
}
.header-bottom-button {
  padding: 10px;
  justify-content: center;
  border: none;
  color: white;
  background: #318a00;
  display: inline-block;
  border-radius: 10px;
}
.header-bottom-btn {
  color: white;
}
.header-bottom-center {
  margin-left: 450px;
}

@font-face {
  font-family: "proxima_nova_rgregular";
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix") format("embedded-opentype"), url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff") format("woff"), url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf") format("truetype"), url("https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "proxima_nova_rgbold";
  src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot");
  src: url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix") format("embedded-opentype"), url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff") format("woff"), url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf") format("truetype"), url("https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Proxima Nova";
  src: url("/font/Proxima-Nova-1.ttf") format("truetype");
}
html {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

input,
textarea,
select,
button {
  outline: none;
}

input {
  line-height: normal;
}

li {
  list-style-type: none;
}

label,
button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

body {
  line-height: 1;
  font-family: "Roboto", sans-serif;
  color: #5c5c5c;
  background-color: white;
}

.container-fluid {
  max-width: 1328px;
  margin: 0 auto;
}

.container {
  max-width: 1239px;
  padding: 0 15px;
  margin: 0 auto;
}

.dropdown {
  font-family: "Proxima Nova", sans-serif;
  font-weight: 200;
  border: 1px solid #000;
  border-radius: 100px;
  width: 104px;
  height: 45px;
  text-align: center;
  font-size: 14px;
  line-height: 17px;
  padding-top: 13px;
}
@media screen and (max-width: 320px) {
  .dropdown {
    width: 90px;
    height: 35px;
    padding-top: 8px;
  }
}

.menu {
  display: flex;
  gap: 30px;
  align-items: center;
}
.menu-link {
  color: black;
  font-weight: bold;
}
.menu-link:hover {
  color: rgb(8, 119, 45);
}

.hero {
  background: rgb(245, 238, 238);
  padding-top: 10px;
}
.hero-main {
  margin-bottom: 40px;
}
.hero-img {
  width: 100%;
  height: 400px;
}
.hero-next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.hero-prev:hover {
  background-color: #f1f1f1;
  color: black;
}
.hero-next:hover {
  background-color: #f1f1f1;
  color: black;
}
.hero-prev {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(104, 9, 9);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.hero-next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: rgb(104, 9, 9);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.hero-mySlides1 {
  display: none;
}
.hero-slideshow-container {
  position: relative;
}

.tree {
  margin-bottom: 30px;
}
.tree-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.tree-title {
  border-bottom: 2px solid;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #2b7204;
  padding: 5px 0;
}
.tree-group {
  height: 320px;
  margin: 5px 5px;
  border-radius: 10px;
  border: 2px solid black;
  padding: 5px 5px;
}
.tree-group-image {
  background-color: #c3a8a8;
  margin: 0 auto;
  max-width: 230px;
  text-align: center;
  justify-content: center;
}
.tree-group-content {
  padding-top: 20px;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  color: black;
  font-family: fantasy;
}

.sector {
  padding: 10px;
  background: rgb(245, 238, 238);
}
.sector-content {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
}
.sector-title {
  border-bottom: 2px solid;
  display: inline-block;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: #2b7204;
  padding: 5px 0;
}
.sector-group {
  height: 320px;
  margin: 5px 5px;
  border-radius: 10px;
  border: 2px solid black;
  padding: 5px 5px;
}
.sector-group-image {
  background-color: #c3a8a8;
  margin: 0 auto;
  max-width: 230px;
  text-align: center;
  justify-content: center;
}
.sector-group-name {
  padding: 5px 0;
  display: block;
  text-align: center;
  font-size: 1.2rem;
  color: black;
  font-family: fantasy;
}
.sector-group-content {
  display: flex;
  flex-direction: column;
}
.sector-group-title {
  font-size: 1rem;
  justify-content: center;
  text-align: center;
  /* display: block; */
  color: black;
  font-family: "Roboto";
  margin-bottom: 15px;
  font-weight: bold;
}
.sector-group-status {
  display: block;
  text-align: right;
  color: #0a7b43;
  padding-top: 10px;
}

.slogan {
  height: 600px;
}
.slogan-title {
  text-align: center;
  color: white;
  font-size: 2rem;
  padding: 30px;
  font-weight: 600;
}
.slogan-content {
  justify-content: cecn;
  display: inherit;
  text-align: center;
  max-width: 1200px;
  justify-content: center;
  padding: 10px;
  margin: auto;
  color: white;
  line-height: 2rem;
  font-size: 20px;
  font-weight: 600;
}
.slogan-image {
  height: 500px;
  width: 100%;
  object-fit: cover;
}
.slogan-main {
  margin-top: -400px;
}

.product {
  margin-bottom: 100px;
  padding: 10px;
}
.product-main {
  background: white;
  display: flex;
  gap: 30px;
}
.product-left {
  border-right: 1px solid rgb(194, 185, 185);
  max-width: 400px;
}
.product-left-group {
  margin: 10px;
  border-bottom: 1px solid rgb(194, 185, 185);
  padding: 10px;
  display: flex;
}
.product-left-image {
  width: 130px;
}
.product-left-title {
  padding: 20px;
  color: black;
  font-size: 20px;
}
.product-right-main {
  display: flex;
}
.product-right-bottom {
  padding: 20px;
}
.product-right-image {
  max-width: 500px;
}
.product-right-title {
  width: 300px;
  display: block;
  justify-content: center;
  padding: 30px 0;
  font-size: 2.5rem;
  color: black;
}
.product-right-content {
  display: block;
  width: 250px;
  padding: 20px 0;
  font-size: 1.5rem;
  color: red;
}
.product-right-support {
  width: 300px;
  border: 1px solid;
  /* padding: 30px; */
  height: 80px;
  text-align: center;
  justify-content: center;
  line-height: 1.5;
}
.product-right-hotro {
  display: block;
  color: red;
  font-size: 1.5rem;
  font-weight: 600;
}
.product-right-lienhe {
  color: black;
  font-size: 15px;
}
.product-content {
  margin-top: 30px;
  max-width: 850px;
  line-height: 2;
  width: 850px;
  color: black;
  font-size: 20px;
}
.product-bottom {
  text-align: center;
  padding: 30px;
  border: 1px solid black;
  line-height: 2;
  color: black;
}

.news {
  padding-top: 20px;
  background: rgb(245, 238, 238);
}
.news-main {
  margin-bottom: 106px;
  padding-bottom: 30px;
  gap: 0 30px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.news-left {
  grid-gap: 50px 20px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
.news-group {
  line-height: 1.5;
  max-width: 350px;
}
.news-group-image {
  width: 300px;
}
.news-group-img {
  border-radius: 0px 30px 0px 30px;
  width: 100%;
}
.news-group-title {
  font-size: 20px;
  line-height: 1.2;
  color: black;
  margin-top: 10px;
  margin-bottom: 5px;
}
.news-group-content {
  overflow: hidden;
  /* width: 251px; */
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.news-right-topic {
  width: 260px;
  display: block;
  padding-top: 30px;
  padding-left: 20px;
  margin-bottom: 20px;
  font-size: 1.5rem;
  color: black;
}
.news-right-title {
  padding: 10px;
  width: 300px;
  line-height: 1.5;
  color: #938c8c;
}
.news-right-title:hover {
  color: rgb(6, 160, 13);
  cursor: pointer;
}

.footer {
  margin-top: -100px;
  background-color: #318A00;
  padding: 10px;
}
.footer-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-left-content {
  font-size: 1rem;
  line-height: 1.5rem;
  padding: 5px;
  color: white;
}
.footer-left-design {
  font-size: 0.7rem;
  line-height: 1.5rem;
  padding: 5px;
  color: white;
}
.footer-right-content {
  gap: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*# sourceMappingURL=client.css.map */
